<p id="notice"><%= notice %></p>

<div class="admin_link">
<%= link_to 'New Post', new_post_path %>
</div>

<% @posts.each do |post| %>
    <div class="postTitle">
	<h2><%= post.name %> - <%= post.title %></h2>
    	<div class="metaPost">
    		<%= post.comments.size%> comments
    	</div>
    </div>
    <div class="postContent">
    	<p><%= post.content %></p>
    </div>
	
	<div class="admin_link">
		<%= link_to 'Show', post %>
		<%= link_to 'Edit', edit_post_path(post) %>
		<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
	</div>
<% end %>

